# JBank
top.JBank=192.168.100.145
top.username={{ param_files.topazsw_properties.top_name }}
top.password={{ param_files.topazsw_properties.top_pass }}

# Auth
auth.username={{ param_files.topazsw_properties.auth_username }}
auth.password={{ param_files.topazsw_properties.auth_password }}
auth.audience={{ param_files.topazsw_properties.auth_audience }}

# Auth S
topsueldos.username={{ param_files.topazsw_properties.topsueldos_name }}
topsueldos.password={{ param_files.topazsw_properties.topsueldos_pass }}
topsueldos.canal={{ param_files.topazsw_properties.canal_sueldos }}
topsueldos.company={{ param_files.topazsw_properties.company_sueldos }}
topsueldos.sucursal={{ param_files.topazsw_properties.sucursal_sueldos }}

#Carga Fecha Control-M Topaz
fechascontrolm.client_id={{ param_files.topazsw_properties.mw_auth_clientid }}
fechascontrolm.client_secret={{ param_files.topazsw_properties.mw_auth_clientsecret }}
fechascontrolm.audience={{ param_files.topazsw_properties.mw_auth_audience }}

#NBCH Auth
nbch.username={{ nbch_usuario }}
nbch.password={{ nbch_password }}
nbch.audience={{ nbch_audience }}
