shared/
#SQL
sql/Jenkinsfile

#biblioteca
biblioteca/FML/jtopazspec/jtopazdisplayspec
biblioteca/FML/jtopazspec/jtopazgenspec

#jboss
jboss/undo/*/
jboss/seguridad
jboss/standalone/tmp
jboss/standalone/userlibrary/default/logs/cargos
jboss/standalone/userlibrary/default/conf/database/tzscpass.dat

*.dodeploy  
*.deployed
*.failed
*.skipdeploy
*.isdeploying
*.isundeploying
*.undeployed
*.pending 

jboss/standalone/userlibrary/default/python/topsystems/__init__.py

#hakuna
hakuna/

# kettle
jboss/standalone/userlibrary/default/tools/kettle/FILE_PARAM/TOPAZSW.properties
jboss/standalone/userlibrary/default/tools/kettle/FILE_PARAM/WS_URLs.properties