# Parametros utilizados para crear la ConnectionFactory

# Host (default: localhost)
topaz.activemq.connection.host=localhost

# Puerto (default: 61616)
topaz.activemq.connection.port=61616

# Protocol (Default:tcp)
topaz.activemq.connection.protocol=tcp

# UserName
topaz.activemq.connection.user=

# Password
topaz.activemq.connection.pass=

# Queue name
topaz.activemq.connection.queue=TOPAZ.QUEUE.RECEPCION