# Estas propiedades son las establecidas por topaz para la conexión
# TOPIC utilizado para retornar mensajes con error
topaz.topic.producer.error.name=topaz-error
# Tiempo de espera para hacer los pull de mensajes (default: 60000) esto es solo para los consumidores
# topaz.poll.record.time=60000


# El resto de las propiedades que se describen son las definidas en el api
# de conexión de kafka. Estas propiedades se deben poner tal cual se describen
# https://kafka.apache.org/22/javadoc/index.html?org/apache/kafka/clients/consumer/KafkaConsumer.html
bootstrap.servers=localhost:9092
client.id=KafkaExampleProducer
connections.max.idle.ms=10000
group.id=topazws
enable.auto.commit=true
key.deserializer=org.apache.kafka.common.serialization.StringDeserializer
value.deserializer=org.apache.kafka.common.serialization.StringDeserializer

key.serializer=org.apache.kafka.common.serialization.StringSerializer
value.serializer=org.apache.kafka.common.serialization.StringSerializer

#request.timeout.ms=6000
#session.timeout.ms=1000
#fetch.max.wait.ms=1000

acks=all
retries=0
#batch.size=16384
#linger.ms=1
#buffer.memory=33554432

#
# Seguridad.
# Parámetros de seguridad (el servicio de prueba no tiene habilitado SSL).
# Los parámetros "ssl.keystore.*" y "ssl.key.*" son necesarios si el broker exige autenticación del cliente.
# Documentación de referencia: http://kafka.apache.org/documentation/#security_overview
#
#security.protocol=SSL
#ssl.truststore.location=kafka.client.truststore.jks
#ssl.truststore.password=truststorePass
#ssl.keystore.location=kafka.client.keystore.jks
#ssl.keystore.password=keystorePass
#ssl.key.password=keyPass

# 
# Autenticación.
# Para autenticación Kafka utilizas JAAS.
# Una forma de cargar la configuración de JAAS es utilizando la propiedad "sasl.jaas.config" como el ejemplo siguiente.
#   sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="usuario" password="...password=";
# En este ejemplo se utiliza el método más sencillo que envía credenciales en texto plano (por lo que debería usarse TLS).
# En la documentación de referencia se explican otros mecanismos.
# Documentación de referencia: http://kafka.apache.org/documentation/#security_jaas_client 
# Otros ejemplos: https://github.com/CloudKarafka/java-kafka-example
#
#sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="guest" password="...password=";


