# Parametros utilizados para crear la ConnectionFactory

# Host (default: localhost)
topaz.mqseries.connection.host={{topaz_mqseries_config.host}}

# Puerto (default: 1414)
topaz.mqseries.connection.port={{topaz_mqseries_config.port}}

# Channel
topaz.mqseries.connection.channel={{topaz_mqseries_config.channel}}

# Queue Manager (default: QM.TOPAZ.EXAMPLE)
topaz.mqseries.connection.queueManager={{topaz_mqseries_config.queueManager}}

# UserName
#topaz.mqseries.connection.user=top

# Password
#topaz.mqseries.connection.pass=...password=

# Queue name
topaz.mqseries.connection.queue={{topaz_mqseries_config.queue}}