# Esta es la única propiedad definida por topaz
# Queue name
topaz.rabbitmq.queue.name=topaz-example

# El resto de las propiedades que se describen son las definidas en el api
# de conexión de rabbit. Estas propiedades se deben poner tal cual se describen en la especificación
# https://rabbitmq.github.io/rabbitmq-java-client/api/4.x.x/constant-values.html#com.rabbitmq.client.ConnectionFactory.DEFAULT_PASS

# Parametros utilizados para crear la ConnectionFactory
rabbitmq.host=localhost
# Puerto (default: 5672)
rabbitmq.port=5672
# UserName (default: guest)
rabbitmq.username=topaz
# Password (default: guest)
rabbitmq.password=...password=
# Virtual host (default: "/") 
rabbitmq.virtual.host=topaz
