<div class="frame row errorFrame">
	{{#with errorData}}
		{{view contentBinding="this" templateName="FrameHeaderView" class="header-frame col-sm-12"}}
		
		<div class="content-frame">		
	  		<div {{bind-attr class=":table-responsive isCollapsed:collapse"}}>
				{{#each errors}}
				<div class="row">
	                <div class="alert alert-danger" role="alert">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  <span class="sr-only">Error:</span>
					  {{{this}}}
					</div>
	            </div>
	            {{/each}}
			</div>
		</div>
	{{/with}}
</div>  