<div class="frame row">
	{{view contentBinding="this" templateName="FrameHeaderView" class="header-frame col-sm-12"}}
	
	<div class="content-frame">
		{{#if links}}
		<div  {{bind-attr class=":contextMenu isCollapsed:collapse"}}>
			<ul>
				<li><a class="btnLinks ion-link" alt="Links" title="Links" role="button"></a></li>
			</ul>
		</div>
		{{/if}}
	  	<div {{bind-attr class=":table-responsive isCollapsed:collapse"}}>
			<div class="col-md-12">
                 <div class="well-none">	
				  {{#with data}}
					{{#view "filesTable"}}
					{{/view}}
				  {{/with}}                     
                 </div>
             </div>
		</div>
	</div>
</div>