{{#view "frameHeader"  class="header-background-title"}}
	<div class="icon-frame">
		<span {{bind-attr style=view.frameIconStyle}} {{bind-attr class="loading:glyphicon loading:glyphicon-refresh"}}></span>
	</div>
	<div class="name-frame">
		<h2>{{title}}</h2>
	</div>
	<div class="expand-frame">
		<span {{bind-attr class=":glyphicon isCollapsed:glyphicon-chevron-down:glyphicon-chevron-up"}}></span>
	</div>
{{/view}}

<div class="line-header-frame"></div>
<div class="clear"></div>
		