<div class="frame row">		
	{{view contentBinding="this" templateName="FrameHeaderView" class="header-frame col-sm-12"}}
	
	<div class="content-frame">
	  	<div {{bind-attr class=":table-responsive isCollapsed:collapse"}}>
		  {{#with data}}
			{{#view "table"}}
			{{/view}}
		  {{/with}}
		</div>
	</div>
</div>