<div class="frame row">
	{{view contentBinding="this" templateName="FrameHeaderView" class="header-frame col-sm-12"}}
		
  	<div {{bind-attr class=":table-responsive isCollapsed:collapse"}}>
		{{#each data}}
			<div class="grids-row">
				{{#each formData}}
				<div class="row">
					{{#each}}
						{{#unless hidden}}
							{{#view "formField"}}
		                       <label class="label-color col-sm-12 col-xs-12">{{label}}</label>
		                       <label class="label-normal col-sm-12 col-xs-12">{{value}}</label>
							{{/view}}
						{{/unless}}
					{{/each}}
	            </div>
	            {{/each}}
	            
          		{{#with gridData}}
			  		{{#view "table"}}
					{{/view}}
			  	{{/with}}
		  </div>
          {{/each}}
	</div>
</div>