{{#view "header" class="header row"}}
	<!--header-->
	<div class="row-1-header col-sm-12">
		<div class="logo"></div>
		
		{{#if model}}
		<div class="user-other-info">
			<ul>
				<li><i class="ion-person" title="Usuario" style="float: left;"></i><p style=" float: right;margin: 0px;padding-top: 4px;">{{view.userName}}</p></li>
				<!-- li class="white-line"></li>
				<li><i class="ion-monitor" title="Máquina"></i>11</li>
				<li class="white-line"></li>
				<li><i class="ion-home" title="Sucursal"></i>1</li-->
				<li class="white-line"></li>
				<li><i class="ion-calendar" title="Fecha de Proceso"></i>{{view.today}}</li>
				<li><a class="round-responsive-btn logout-btn" title="Salir" {{action 'logOutClick'}} role="button"><i class="glyphicon glyphicon-log-out"></i></a></li>
			</ul>
			<div class="clear"></div>
		</div>
		{{/if}}
		<div class="clear"></div>
	</div>
	<div class="row-2-header col-sm-12">
		<div class="name-app">
			<p>TOPAZ PERSPECTIVA 360</p>
		</div>  
		
		{{#if model}}
		<div class="actions-menu-header">
			<ul>
				<li><a class="round-responsive-btn logout-btn" title="Salir" {{action 'logOutClick'}} role="button"><i class="glyphicon glyphicon-log-out"></i></a></li>
			</ul>	
			<!--ul>
				<li><a class="menu-btn" title="Menú de Apps"></a></li>
				<li><a class="help-btn" title="Ayuda"></a></li>
			</ul-->
			<div class="clear"></div>
		</div>
		{{/if}}
		
		<div class="clear"></div>
	</div>
{{/view}}