<?xml version="1.0" ?>

<module xmlns="urn:jboss:module:1.1" name="com.rabbitmq.jms" slot="1.9.0">

    <resources>
        <resource-root path="rabbitmq-jms-1.9.0.jar"/>
        <resource-root path="amqp-client-5.3.0.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.jms.api"/>
        <module name="org.slf4j"/>
    </dependencies>
</module>