<?xml version="1.0" ?>

<module xmlns="urn:jboss:module:1.1" name="swagger">
    <resources>
        <resource-root path="swagger-annotations-2.0.7.jar"/>
        <resource-root path="swagger-core-2.0.7.jar"/>
        <resource-root path="swagger-integration-2.0.7.jar"/>
        <resource-root path="swagger-jaxrs2-2.0.7.jar"/>
        <resource-root path="swagger-jaxrs2-servlet-initializer-2.0.7.jar"/>
        <resource-root path="swagger-models-2.0.7.jar"/>
    </resources>
    <dependencies>
        <module name="topaz_jackson" />
        <module name="lang3"/>
        <module name="org.slf4j"/>
        <module name="javax.ws.rs.api"/>
        <module name="javax.servlet.api"/>
        <module name="javax.xml.bind.api"/>
    </dependencies>
</module>